{% include base_path %}


{% assign cvsections = site.data/cv | sort %}

{% assign cvnames = "education,awards,services,teaching" | split:"," %}

<ol class="list-nostyle" type="1" style="list-style-position: outside;">

  {% for sec in cvnames %}
	<li class="nostyle">

    {% if sec contains "education" %}
	    <b class="cv__item-title">Education</b>
	  {% elsif sec contains "awards" %}
	    <b class="cv__item-title">Awards and Honors</b>
	  {% elsif sec contains "teaching" %}
	    <b class="cv__item-title">Teaching Experience</b>
		{% elsif sec contains "service" %}
	    <b class="cv__item-title">Service and Leadership</b>
		{% elsif sec contains "publications" %}
	    <b class="cv__item-title">Publications</b>
		{% elsif sec contains "skills" %}
			<b class="cv__item-title">Skills</b>
	  {% endif %}
		<br>

		{% for name in cvsections %}
			{% if sec contains name[0] %}
				{% assign cvitems = name[1] | sort: "year" | reverse %}
			{% endif %}
		{% endfor %}

		{% for elem in cvitems %}
			{% if elem.category %}

				<i class="cv__item-title">
			    {{ elem.category }}
			  </i>
				<br>

				{% assign sub_cvitems = elem.items | sort: "year" | reverse %}
				{% for subitem in sub_cvitems %}
					{% include single_cv_item.html item=subitem section='sec[0]' %}
				{% endfor %}
			{% else %}
				{% include single_cv_item.html item=elem section='sec[0]' %}
			{% endif %}
		{% endfor %}

	</li>
	{% endfor %}
</ol>
