{% include base_path %}


{% assign papertypes = "paper,conference,thesis" | split:"," %}

<ol reversed class="list-nostyle" type="1" style="list-style-position: inside;">

	{% for ptype in papertypes %}

	<li class="nostyle">
	<div class="archive__subtitle">
	  {% if ptype == "paper" %}
	    <i>Journal Papers</i>
	  {% elsif ptype == "conference" %}
	    <i>Conference Proceedings</i>
	  {% elsif ptype == "patent" %}
	    <i>Patents</i>
		{% elsif ptype == "thesis" %}
			<i>Theses</i>
	  {% endif %}
	</div>

		{% assign pubs = site.publications | where:"type", ptype | sort: "order" | reverse %}
		<ol reversed class="publist" type="1" style="list-style-position: outside;">
			{% for pub in pubs %}
				{% include single_pub.html pub=pub %}
			{% endfor %}
		</ol>
	</li>
	{% endfor %}

	{% assign existsnewtype = false %}
	{% for pub in site.publications %}
		{% unless papertypes contains pub.type %}
			{% assign existsnewtype = true %}
		{% endunless %}
	{% endfor %}

	{% if existsnewtype%}

		<li class="nostyle">
		<div class="archive__subtitle">
			<i>Miscellaneous</i>
		</div>

		<ol reversed class="publist" type="1" style="list-style-position: inside;">
		{% assign pubs = site.publications | sort: "year" | reverse %}
		{% for pub in pubs %}
			{% unless papertypes contains pub.type %}
					{% include single_pub.html pub=pub %}
			{% endunless %}
		{% endfor %}
		</ol>
		</li>
	{% endif %}
</ol>
