{% include base_path %}

<!-- {% assign papertypes = site.publications | map: "type" | sort: "year" | uniq | reverse %} -->

{% assign papertypes = "manuscript,article-journal,paper-conference,thesis" | split:"," %}

<ol reversed class="list-nostyle" type="1" style="list-style-position: inside;">

	{% for ptype in papertypes %}

	<li class="nostyle">
		{% if ptype == "manuscript" %}
			<i>Preprints</i>
	  {% elsif ptype == "article-journal" %}
	    <i>Journal Papers</i>
	  {% elsif ptype == "paper-conference" %}
	    <i>Conference Proceedings</i>
	  {% elsif ptype == "patent" %}
	    <i>Patents</i>
		{% elsif ptype == "thesis" %}
			<i>Theses</i>
	  {% endif %}

		{% assign pubs = site.data.publications.references | where: "type", ptype | sort: "year" | reverse %}

		<ol reversed class="publist" type="1" style="list-style-position: outside;">
			{% for pub in pubs %}
				{% include single_pub.html pub=pub %}
			{% endfor %}
		</ol>
	</li>
	{% endfor %}

	{% assign existsnewtype = false %}
	{% for pub in site.data.publications.references %}
		{% unless papertypes contains pub.type %}
			{% assign existsnewtype = true %}
		{% endunless %}
	{% endfor %}


</ol>
