{% assign pub_authors = pub.authors | split: ", " %}

<li class="box box-left-border list-item">

<!-- <li> -->




  <b class="large pub-title">
    <!-- <a href="{{ pub.url }}">{{ pub.title }}</a> -->
    {{ pub.title }}
  </b>
  <br>
  <span class="pub-authors">
   {% include pub_authors.html %}
  </span>
  <br>

  <span class="pub-journal">
    <i>
      {% if pub.external_url %}
      <a target="_blank" href="{{ pub.external_url }}">{{ pub.journal }}.</a>
      {% else %}
        {{ pub.journal }}.
      {% endif %}
    </i>
  {% if pub.pagenum %}
    <br>
    pp. {{ pub.pagenum }}.
  {% endif %}
  {{ pub.year }}.
  </span>
  <br>
  {% include pub_links.html pub=pub %}

  {% if pub.notes %} |
  <span class="highlight tag is-info is-light">{{ (pub.notes) }}</span>
  {% endif %}

</li>
