{% assign pub_authors = pub.author %}

<li class="box box-left-border list-item">

<!-- <li> -->

  <b class="large pub-title">
    <!-- <a href="{{ pub.url }}">{{ pub.title }}</a> -->
    {{ pub.title }}
  </b>
  <br>
  <span class="pub-authors">
   {% include pub_authors.html %}
  </span>
  <br>

  <span class="pub-journal">
    <i>
      {% if pub.event %}
        {{ pub.event }}.
      {% elsif pub.publisher %}
        {{ pub.publisher }}.
      {% elsif pub.container-title %}
        {{ pub.container-title }}.
      {% elsif pub.source %}
        {{ pub.source }}
      {% endif %}
    </i>
  {{ pub.issued.year }}.
  </span>
  <br>
  {% include pub_links.html pub=pub %}

  {% if pub.note %} |
  <span class="highlight tag is-info is-light">{{ (pub.note) }}</span>
  {% endif %}

</li>
