
{% assign var = include.item %}
{% assign section = include.section %}

<li class="nostyle cv-list-item">

  <span class="cv-year">{{ var.year }}{% if var.year_end %}-{{ var.year_end }}{% endif %}</span>

  {% if var.name %}
  <span class="pub-title">
    <b>{{ var.name }}</b>{% if var.degree %} - {{ var.degree }}{% endif %}{% if var.event %} - {{ var.event }}{% endif %}{% if var.declined %} - (declined) {% endif %}
    <br>
  </span>
  {% elsif var.program %}
  <span class="pub-title">
    {{ var.program }}
    <br>
  </span>
  {% elsif var.organization %}
  <span class="pub-title">
    {{ var.organization }}{% if var.position %} - {{ var.position }}{% endif %}
    <br>
  </span>
  {% endif %}

  {% if var.title %}
  <span class="pub-title">
    <b>{{ var.title }}</b>
    <br>
  </span>
  {% endif %}


  {% if var.project %}
  <i>{{ var.project }}</i>
  <br>
  {% endif %}

  {% if var.department %}
  {{ var.department }}
  <br>
  {% endif %}
  {% if var.institution %}
  {{ var.institution }}
  <br>
  {% endif %}

  {% if var.courses %}
    {{ var.courses[0].acronym }} {{ var.courses | map: "number" | join: ", "}}
    ({{ var.courses | map: "name" | join: ", "}} )
    <br>
  {% endif %}



  {% if var.students%}
  {% assign studentlist = {{var.students | map: "name" }} %}
  Student{% if studentlist.size > 1 %}s: {% endif %} {{ studentlist | join: ", "}}
  <br>
  {% endif %}

  {% if var.note %}
    {{ var.note }}
    <br>
  {% endif %}


</li>
