/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

/*
   Hide the following elements on print
   ========================================================================== */

@media print {
  .masthead,
  .toc,
  .page__share,
  .page__related,
  .ads,
  .comment-print-ignore,
  .sidebar,
  .page__footer {
    display: none;
  }
  .no-print, .no-print *
{
    display: none !important;
}



  body {
    font-size: 10pt;
  	line-height: 1.25em;
  	/*also written as...  font: normal normal 400 100%/1.5em;*/
  	margin-top: 1em;
    text-align: left;

  }

  body, h1, h2, h3, ol, ul, div {     width: auto;     border: 0;     margin: 0 5%;     padding: 0;     float: none;     position: static;     overflow: visible; }

  .cv-year {
      text-align: left;
      font-size: 100%;
      color: #ccc;
      left: -10%;



  }

  .cv__item-title{
    font-size: 110%;
    text-align: left;
    left: -20%;

  }

  .cv-list-item {
    text-align: left;
    right: -15%;
  }

  h1,h2,h3,h4 {
    text-align: left;
    line-height: 1.25em;
  }





  li {
  	/*second line indent*/
    margin-left: 1em;

    width: 150%;
  	/*color: #777;*/
  }

  p {
  	margin-bottom: 0.2em;
  	margin-right: 0;
  }

}
